.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  font-family: 'EB Garamond', serif;
  padding-top: 12rem
}

.jumbotron {
  margin-bottom: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');